apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "harness.agentLabels" (dict "context" . "component" .Values.agent.name "name" "agent-secret") | nindent 4 }}
  name: argocd-harness-plugin
  namespace: {{ .Release.Namespace }}
data:
  {{- if .Values.harness.argocdHarnessPlugin.enabled }}
  harness.yaml: |
    ---
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: argocd-harness-plugin
    spec:
      version: v1.0
      allowConcurrency: true
      discover:
        find:
          command:
            - /bin/sh
            - -c
            - |
              if [ -f "Chart.yaml" ] || [ -f "values.yaml" ]; then  
                echo "Harness Plugin discovered Helm Chart. Proceeding to generate manifests."
              elif find . -name '*.yaml' -o -name '*.yml' | grep -q .; then
                echo "Harness Plugin discovered Native Kubernetes Manifests. Proceeding to generate manifests."
              else
                exit 1
              fi
      generate:
        command:
          - /bin/sh
          - -c
          - |
            set -o pipefail 
            if [ -f "Chart.yaml" ] || [ -f "values.yaml" ]; then
              helm template $ARGOCD_APP_NAME -n $ARGOCD_APP_NAMESPACE ${ARGOCD_ENV_HELM_ARGS} --include-crds . \
                | argocd-harness-plugin generate -
            else
              argocd-harness-plugin generate .
            fi
      lockRepo: false
  {{- else }}
  harness.yaml: |
    ---
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: argocd-harness-plugin
    spec:
      allowConcurrency: false
      discover:
        find:
          command:
            - /bin/sh
            - -c
            - "exit 1"
      generate:
        command:
          - /bin/sh
          - -c
          - "exit 0"
      lockRepo: false
  {{- end }}
